.navbar{
    position:fixed;
    z-index: 1000;
    display: flex;
    width : 100%;
    height: 4vw;
    font-weight: 400;
    justify-content: space-evenly;
    padding: 0 ;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .left{
        width: 30%;
        justify-content: left;
        display: flex;
        align-items: center;
    }
    .mid{
        background-image: url("../../assets/navbar/blacklogo.png");
        width: 20%;
        height: 4vw;
        background-size: 70%;
        background-position: center 50%;


    }
    .right{
        display: flex;
        justify-content: right;
        gap: 1.5vw;
        width: 30%;
        align-items: center;
    }
    .hamb,.invi{
        display: none;
    }
    
}
@media (max-width: 768px){
    .navbar{
        position:fixed;
        z-index: 1000;
        display: flex;
        width : 100%;
        height: 6vw;
        font-weight: 400;
        justify-content: space-evenly;
        padding: 0 ;
        font-size: 2vw;
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        
        a {
            text-decoration: none;
            color: black;
        }
        
        .left{
            width: 30%;
            justify-content: left;
            display: flex;
            align-items: center;
        }
        .mid{
            background-image: url("../../assets/navbar/blacklogo.png");
            width: 25%;
            height: 6vw;
            background-size: 70%;
            background-position: center 50%;
    
    
        }
        .right{
            display: flex;
            justify-content: right;
            gap: 1.5vw;
            width: 30%;
            align-items: center;
    
    
        }
        .hamb,.invi{
            display: none;
        }
        
    }
}
@media (max-width: 425px){
    .navbar{
        position:fixed;
        z-index: 1000;
        display: flex;
        width : 100%;
        height: 12vw;
        align-items: center;
        font-weight: 400;
        justify-content: right;
        gap: 30vw;
        font-size: 2vw;
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        
        a {
            text-decoration: none;
            color: black;
        }
        
        .left{
            display: none;
        }
        .mid{
            background-image: url("../../assets/navbar/blacklogo.png");
            width: 25%;
            height: 10vw;
            background-size: 100%;
            background-position: center 50%;
    
    
        }
        .right{
            display: none;
    
        }
        .hamb{
            display: flex;
            height: 10vw;
            width: 40vw;
            justify-content: space-around;
            align-items: center ;
            .toggler{
                width: 10vw;
                height: 10vw;
                background-image: url("../../assets/navbar/menu-button-of-three-horizontal-lines-svgrepo-com.svg");
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                /* background-color: azure; */
            }
            .nav-menu {
                display: none;                    /* Hidden by default */
                flex-direction: column;           /* Stack items vertically */
                align-items: center;
                color: black;              /* Center items */
                background-color: #ffffff;           /* Background color */                    /* Spacing inside */
                position: absolute; 
                font-size: 3vw;  
                height: 23vw;                     /* Full width for clickability */
                top:10vw;              /* Overlay effect */                        /* Position below navbar */
                right: 0;                         /* Align to right edge */
                width: 20vw;                     /* Set width of menu */              /* Rounded corners */
                transition: all 0.3s ease;        /* Smooth transition */
                z-index: 1000;                    /* Ensure it overlays content */
            }
            
            /* Menu item styles */
            .nav-menu div {
                color: black;              /* Center items */     /* Text color */
                text-decoration: none;
                font-size: 3vw;  
                padding: 1.5vw;          /* Remove underline */        /* Add padding around text */
                width: 50%;                     /* Full width for clickability */
                text-align: center;               /* Center align text */
                transition: background-color 0.2s; /* Smooth hover transition */
            }
            
            
            /* Show menu when active */
            .nav-menu.active {
                display: flex;                    /* Display menu */
            }
        }
        
    }
}