.explore {
    scroll-margin-top: 6vw; 
    width: 80%;
    margin: 10vw auto;
    h1 {
        font-size: 3.6vw;
        font-weight: 500;
        margin: 0;
    }
    h2 {
        font-size: 1.8vw;
        font-weight: 100;
        letter-spacing: .2vw;
    }
    .cities {
        height: 32vw;
        .mimage {
            height: 28vw;
            background-image: url("../../assets/Explore/Header/mumbai-1370023.jpg");
            background-position: 50% 20%;
            background-size: 100%;
            border-radius: 1vw;
            position: relative;
            cursor: pointer; /* Makes the image look clickable */
            transition: transform 0.3s ease; /* Smooth hover effect */
        }
        
        /* Hover effect to scale the image */
        .mimage:hover {
            transform: scale(1.05); /* Slight zoom effect on hover */
        }

        /* Text styling */
        .mumbai-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 10vw; /* Adjust text size based on image size */
            font-weight: 400;
            color: white;
            border: 2px solid white; /* White border around the text */
            padding: 0.5vw 1vw;
            text-transform: uppercase;
            letter-spacing: 0.1vw;
            opacity: 0; /* Initially hidden */
            transition: opacity 0.3s ease; /* Smooth fade-in */
        }

        /* When hovering, make the text visible */
        .mimage:hover .mumbai-text {
            opacity: 1; /* Make text visible on hover */
        }
    }
}

@media (max-width:768px) {
    .explore {
        scroll-margin-top: 15vw; 
        h1 {
            font-size: 4.5vw;
        }
        h2 {
            font-size: 1.8vw;
            font-weight: 100;
            letter-spacing: .1vw;
        }
        .cities {
            height: 40vw;
            .mimage {
                height: 33vw;
            }
        }
    }
}

@media (max-width:425px) {
    .explore {
        scroll-margin-top: 20vw; 
        width: 90%;
        h1 {
            font-size: 6vw;
        }
        h2 {
            font-size: 3vw;
            font-weight: 100;
            letter-spacing: .3vw;
        }
        .cities {
            height: 60vw;
            .mimage {
                height: 50vw;
            }
        }
    }
}
