.frame{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    justify-content: center;
    iframe{
        width: 100%;
        margin: 5vh auto;
        height: 92vh;
        border : 1px solid rgba(79, 79, 79, 0.177);
        background-color: rgba(202, 202, 223, 0.142);
        border-radius: 0.8rem;

        
    }
}
.framebot{
    border-radius: 1rem;
}
.Ambience,.Food{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 2vw;
    justify-content: center;
    align-items:right;
}
.Ambience-text,.Food-text{
    font-size: 1.8vw;
    font-weight: 400; 
}
@media(max-width:768px){
    .frame{
        width: 90%;
        padding-top: 3vh;
        iframe{
            width: 90%;
            margin: 5vh auto;
            height: 90vh;
        }
    }
    .Ambience,.Food{
        padding: 3vw;
        gap: 2.5vw;
    }
    .Ambience-text,.Food-text{
        font-size: 3vw;
        font-weight: 500; 
    }

   
}@media(max-width:425px){
    .frame{
        width: 100%;
        iframe{
            width:95%;
            height: 88vh;
            margin:4vh auto;
        }
    }
    .Ambience,.Food{
        padding: 3vw;
        gap: 3vw;
    }
    .Ambience-text,.Food-text{
        font-size: 4vw;
        font-weight: 500; 
    }
}